@page
@model RazorPage_uppgift.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Identity;
@using RazorPage_uppgift.Models;

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.SpotsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.SpotsAvailable)
        </dd>
    </dl>
</div>
<form method="post">
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Organizer"))
    {
        @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
        {
            if (!Model.MyUser.JoinedEvents.Contains(Model.Event) && Model.Event.SpotsAvailable > 0)
            {
                <input type="submit" asp-page="./" asp-route-id="@Model.Event.EventID" class="btn btn-success" value="Join" />
            }
            else if (Model.MyUser.JoinedEvents.Contains(Model.Event))
            {
                <a asp-page="./" asp-route-id="@Model.Event.EventID" class="btn btn-dark disabled">Already Joined</a>
            }
            else if (Model.Event.SpotsAvailable <= 0)
            {
                <a asp-page="./" asp-route-id="@Model.Event.EventID" class="btn btn-dark disabled">No Spots Available</a>
            }
        }
        else
        {
            <a asp-page="./" asp-route-id="@Model.Event.EventID" class="btn btn-dark disabled">Cannot Join Event</a>
        }
    }
    else if (User.IsInRole("Organizer"))
    {
        <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@Model.Event.EventID">Edit Event</a>
        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@Model.Event.EventID">Delete</a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="~/Events/Details?id=@Model.Event.EventID" class="btn btn-success">Join</a>
    }
</form>
<a asp-page="./Index">Back to List</a>