@page
@model RazorPage_uppgift.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@using RazorPage_uppgift.Models


@inject UserManager<MyUser> UserManager

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Place
            </th>
            <th>
                Address
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.EventID" class="btn btn-primary btn-block">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>